{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for book in books %}
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:'d-m-Y' }}</p>
                {% endfor %}
            </div>



        </div>
        <div class="book col-md-4">
            {% if page.has_previous %}
            <a href="/books/{{ page.previous_page_number|date:'Y-m-d' }}/">Назад</a>
            {% endif %}
            {% if page.has_next %}
            <a href="/books/{{ page.previous_page_number|date:'Y-m-d' }}/">Вперед</a>
            {% endif %}
        </div>
    </div>
{% endblock %}