{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <li>{{ student.name }} {{ student.group }}
      <br> Преподаватели:
      {% for object in student.lessons.all %}
     <ul>{{ object.teachers.name }} {{ object.teachers.subject }}</ul>
      {% endfor %}
        <br> Преподаватели (teachers):
        {% for teacher in student.teachers.all %}
     <ul>{{ teacher.name }} {{ teacher.subject }}</ul>
      {% endfor %}

    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
